<template>
    <table class="table">
        <thead>
        <tr>
            <th v-for="col in cols">{{ col.title }}</th>
            <th width="150px"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list" is="row" :name="name" :data="item" :columns="cols" :editingType="editingType"></tr>
        <tr>
            <td v-for="col in cols">
                <input type="text" :placeholder="col.title" v-model="newItem[col.prop]" @keydown.enter="add()">
            </td>
            <td>
                <button class="btn btn-sm btn-primary" @click="add()">Add New</button>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<style>
    td {
        position: relative;
    }

    tr input[type="text"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        height: 41px;
        vertical-align: top;
        border: 1px solid #e6e6e6;
        border-top: none;
    }
</style>

<script>
    export default {
        props: [
            // data
            'name', 'items', 'columns',
            // events
            'editingType'
        ],
        data() {
            return {
                list: [],
                newItem: {}
            };
        },
        computed: {
            cols() {
                let cols = JSON.parse(this.columns);

                cols.map(col => {
                    col.className = `${this.name}__${col.prop}`;
                });

                return cols;
            }
        },
        methods: {
            add() {
                this.$http.post(`/${this.name}`, this.newItem)
                    .then(response => {
                        let createdItem = response.body;

                        this.list.push(createdItem);

                        this.newItem = {};
                    })
                    .catch(response => {
                        console.error(response.body);
                    });
            }
        },
        mounted() {
            this.list = JSON.parse(this.items);

            this.$on('item was deleted', id => {
                this.list = this.list.filter(item => {
                    return item.id != id;
                });
            });

            this.$on('user clicked edit', item => {
                this.$parent.$emit('user clicked edit', item);
            });
        }
    }
</script>
