<template>
    <button :class="[ classes ]" @click="handle">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        props: [
            'url', 'classes'
        ],
        methods: {
            handle() {
                this.$http.delete(this.url)
                    .then(() => {
                        location.reload();
                    });
            }
        }
    }
</script>