<template>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="btn-group-vertical btn-block" role="group">
                <a class="btn btn-block btn-default" @click="load()">Visi</a>
                <a v-for="category in categories" @click="load(category.id)" class="btn btn-block btn-default">
                    {{ category.name }}
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <template v-if="!items.length">
                No items
            </template>
            <template v-else>
                <ul>
                    <li v-for="item in items">
                        <a :href="item.source.url" target="_blank">
                            {{ item.source.title }}
                        </a> @ {{ item.published_at }}:
                        <a :href="item.link" @click.prevent="show(item)">{{ item.title }}</a>
                    </li>
                </ul>
                <!-- use the modal component, pass in the prop -->
                <modal v-if="selectedItem" @close="selectedItem = false">
                    <h3 slot="header">{{ selectedItem.title }}</h3>
                    <p slot="body" v-html="selectedItem.description"></p>
                    <template slot="footer">
                        <a class="btn btn-default" :href="selectedItem.link" target="_blank">
                            Skaityti daugiau
                        </a>
                    </template>
                </modal>

                <script type="text/x-template" id="modal-template">
                    <transition name="modal">
                        <div class="modal-mask">
                            <div class="modal-wrapper" @click.self="$emit('close')">
                                <div class="modal-container">

                                    <div class="modal-header">
                                        <slot name="header">
                                            ...
                                        </slot>
                                    </div>

                                    <div class="modal-body">
                                        <slot name="body">
                                            ...
                                        </slot>
                                    </div>

                                    <div class="modal-footer">
                                        <p>
                                            <slot name="footer"></slot>
                                            <button class="btn btn-default" @click="$emit('close')">
                                                Uždaryti
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </script>
            </template>
        </div>
    </div>
</template>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        max-width: 800px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

<script>
    export default {
        props: [
            'json'
        ],
        data() {
            return {
                items: [],
                selectedItem: null,
                showModal: false
            }
        },
        computed: {
            categories() {
                return JSON.parse(this.json);
            }
        },
        mounted() {
            console.log(this.categories, this.categories.length);
            this.load();
        },
        methods: {
            load(category_id = null) {
                let url = '/api/feed';

                if (category_id) {
                    url += `/${category_id}`;
                }

                this.$http.get(url)
                    .then(response => {
                        this.items = response.body;
                    });
            },
            show(item) {
                this.selectedItem = item;
            }
        }
    }
</script>