<template>
    <tr :data-id="item.id">
        <template v-for="col of cols">
            <td v-if="editFieldsDirectly" contenteditable="true" @keydown.enter="save()" :class="[col.className]">
                {{ item[col.prop] }}
            </td>
            <td v-else>
                <template v-if="col.isLink">
                    <a :href="item[col.prop]" target="_blank">{{ item[col.prop] }}</a>
                </template>
                <template v-else>
                    {{ item[col.prop] }}
                </template>
            </td>
        </template>

        <td>
            <button v-if="editing" class="btn btn-sm btn-success" @click="save()">
                Save
            </button>
            <button v-else class="btn btn-sm btn-default" @click="edit()">
                Edit
            </button>

            <button class="btn btn-sm btn-danger" @click="destroy()">
                Delete
            </button>
        </td>
    </tr>
</template>

<style>
    td[contenteditable] {
        border: 1px solid #e6e6e6;
        border-bottom: 2px solid #e6e6e6;
    }
</style>

<script>
    export default {
        props: [
            'name', 'data', 'columns',

            'editingType'
        ],
        data() {
            return {
                editing: false
            };
        },
        computed: {
            cols() {
                return this.columns;
            },
            item() {
                return this.data;
            }
        },
        mounted() {
        },
        methods: {
            edit() {
                this.editing = true;

                this.$parent.$emit('user clicked edit', this.data);

                switch (this.editingType) {
                    case 'custom':
                        break;

                    default:
                        this.editFieldsDirectly = true;
                        setTimeout(() => {
                            this.elements(`td`)[0].focus();
                        });
                }
            },
            save() {
                this.editing = false;

                if (this.editFieldsDirectly) {
                    this.editFieldsDirectly = false;

                    this.cols.forEach(col => {
                        this.data[col.prop] = this.element(`.${col.className}`).textContent.trim();
                    });
                }

                this.$http.put(`/${this.name}/${this.data.id}`, this.data)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(response => {
                        console.error(response);
                    });
            },
            destroy() {
                this.$http.delete(`/${this.name}/${this.data.id}`)
                    .then(response => {
                        this.$parent.$emit('item was deleted', this.data.id);
                        console.log(response);
                    })
                    .catch(response => {
                        console.error(response.body);
                    });
            },
            element(selector) {
                return document.querySelector(`tr[data-id="${this.data.id}"] ${selector}`);
            },
            elements(selector) {
                return document.querySelectorAll(`tr[data-id="${this.data.id}"] ${selector}`);
            }
        }
    }
</script>